@charset "utf-8";

html {
    background-color: #eeeeee;
    color: #303841;
}

* {
    font-family: "DejaVu Sans Mono", Monaco, Consolas, "Courier New", Courier, monospace;
}

pre {
    display: block;
    background-color: #FFF;
    padding: 1ch;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

a {
    color: #26a;
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    max-width: 960px;
    margin: auto;
}

.wrapper > header {
    padding-bottom: .5em;
    border-bottom: 1px solid #000;
    display: flex;
}

.wrapper > header .right {
    flex-grow: 1;
    text-align: right;
}

input[type=text],   input[type=password], 
input[type=number], input[type=tel],
select
{
    border: none;
    outline: 1px solid #303841;
    box-shadow: 1px solid #303841;
    vertical-align: middle;
    padding: 5px 10px;
}

.button, button, input[type=submit] {
    border: 0;
    background-color: #303841;
    padding: 5px 10px;
    color: #eeeeee;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.87em;
}

.button:hover,.button:focus,
button:hover, input[type=submit]:hover, 
button:focus, input[type=submit]:focus 
{
    background-color: #3a4750;
    border-spacing: 0;
    border-collapse: collapse;
}


/* accounts */

.accounts:after,
.accounts .account:after,
.quotas-item:after {
    display: block;
    content: ' ';
    clear: both;
}

.accounts .account {
    background: #FFF;
    overflow: hidden;
    padding: 0 1em;
    padding-left: 150px;
    margin-bottom: 2em;
    position: relative;
    min-height: 2em;
}
.accounts .account.disabled         { background: #FDD; }
.accounts.compact .account          { margin-bottom: .25em}

.accounts .account .float { float: right; }
.accounts .account h3 { 
    position: absolute;
    margin: 0;
    left: 0px;
    width: 150px;
    padding: 1em;
    top: 0px;
    box-sizing: border-box;
    display: block;
    text-align: right;
    font-size: 1em;
    color: #666;
}
.accounts .account.disabled h3:after{ 
    content: ' (suspended)';
    font-size: .7em;
}

@media screen and (max-width: 800px) {
    .accounts .account .float{
        float: none;
        display: block;
        margin: .5em auto;
    }
    .accounts .account {
        padding-left: 1em;
    }
    .accounts .account h3 {
        position: static;
    }
}

/* pre */
.gray { color: #999; }
.major {color: #000; }

/* strip table */
table.strip {
    margin: 1em 0;
    border-collapse: collapse;
}
table.strip th {
    width: 5%;
    white-space: nowrap;
}
table.strip td, table.strip th {
    text-align: left;
    padding: .5em 1em;
}
table.strip tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

/* white-form */
.white-form {
    background-color: #fff;
    padding: .5em 2em;
}

.white-form .errorlist {
    background: #FEE;
    padding: 0.5em 1em;
    list-style-position: inside;
    font-size: 0.87em;
    border: 1px solid #ECC;
    position: relative;
}

.white-form .errorlist:after {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    content: ' ';
    border: 1em solid transparent;
    border-top-color: #ECC;
    pointer-events: none;
}

.white-form .helptext {
    display: block;
    margin: 0em 0px;
    max-height: 0;
    
    transition: max-height .4s ease, margin .4s ease;
    transition-delay: 1s;

    font-size: .8em;
    color: #999;
    overflow: hidden;
}
.white-form input:focus + .helptext,
.white-form label:focus + .helptext,
.white-form select:focus + .helptext {
    max-height: 3em;
    margin: .5em 0px;
    transition-delay: 0s;
}

/* alink_btns */
.alink_btns {
    display: flex;
    line-height: 2em;
}

.alink_btns a,
.alink_btns a.button,
.alink_btns button {
    display: block;
    padding: 0 1em;
    border: 1px solid transparent;
}
.alink_btns a.disabled {
    color: #666;
    background: #f0f0f0;
}
.alink_btns a:hover, .alink_btns a:focus {
    border-color: currentColor;
    outline: none;
}

.quotas-list {
    margin: 1em 0;
}
.quotas-item {
    padding: .5em 1em;
}
.quotas-item:nth-child(odd) {
    background-color: #f0f0f0;
}
.quotas-item h {
    float: left;
    line-height: 2.6em;
}
.quotas-item.disabled {
    opacity: .5;
}
.quotas-item.disabled h:after {
    content: ' (disabled)';
    font-size: .7em;
}
.quotas-actions {
    z-index: 10;
    font-size: 0;
    margin: 0;
}
.quotas-actions a
{
    font-size: 9pt;
    padding: .5em 1.5em;
    opacity: 0.4;
}
.quotas-actions a:hover,
.quotas-actions a:focus 
{
    outline: 1px solid currentColor;
    opacity: 1;
}
.quotas-item:hover .quotas-actions a {
    opacity: 1;
}

.full-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}
.full-cover:hover, .full-cover:focus {
    border: 1px solid currentColor;
    outline: none;
}
.quotas-descript-list {
    overflow: hidden;
    font-size: .8em;
    color: #666;
    position: relative;
}

/* yuck-absolute */
.yuck-absolute {
    position: absolute;
    z-index: 100;
    border: 1px solid #999;
    background: #fff;
    padding: .5em 1em;
    font-size: .7em;
    line-height: 1.5;
    max-width: 40vw;
}

.yuck-absolute ul {
    margin: .2em 0;
    padding-left: 1em;
}

.yuck-absolute p, .yuck-absolute li {
    margin: 0;
}

.yuck-absolute .use-this {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 1px 4px;
    border-radius: 2px;
    border: 1px solid currentColor;
    display: inline-block;
    margin: 2px;
}

.yuck-absolute.hidden {
    display: none;
    pointer-events: none;
}
