@charset "utf-8";

html {
    background-color: #eeeeee;
    color: #303841;
    overflow-y: scroll;
}

* {
    font-family: "DejaVu Sans Mono", Monaco, Consolas, "Courier New", Courier, monospace;
}

pre {
    display: block;
    background-color: #FFF;
    padding: 1ch;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

a {
    color: #26a;
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    max-width: 960px;
    margin: auto;
}

.wrapper > header {
    padding-bottom: .5em;
    border-bottom: 1px solid #000;
    display: flex;
}

.wrapper > header .right {
    flex-grow: 1;
    text-align: right;
}

input[type=text],   input[type=password], 
input[type=number], input[type=tel],
input[type=date],
select
{
    border: none;
    outline: 1px solid #303841;
    box-shadow: 1px solid #303841;
    vertical-align: middle;
    padding: 5px 10px;
}

.button, button, input[type=submit] {
    border: 0;
    background-color: #303841;
    padding: 5px 10px;
    color: #eeeeee;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.87em;
}

.button:hover,.button:focus,
button:hover, input[type=submit]:hover, 
button:focus, input[type=submit]:focus 
{
    background-color: #3a4750;
    border-spacing: 0;
    border-collapse: collapse;
}


/* accounts */

.accounts:after,
.accounts .account:after,
.quotas-item:after,
.article:after {
    display: block;
    content: ' ';
    clear: both;
}

.accounts .account {
    background: #FFF;
    overflow: hidden;
    padding: 0 1em;
    padding-left: 150px;
    margin-bottom: 2em;
    position: relative;
    min-height: 2em;
}
.accounts .account.disabled         { background: #FDD; }
.accounts.compact .account          { margin-bottom: .25em}

.accounts .account .float { float: right; }
.accounts .account h3 { 
    position: absolute;
    margin: 0;
    left: 0px;
    width: 150px;
    padding: 1em;
    top: 0px;
    box-sizing: border-box;
    display: block;
    text-align: right;
    font-size: 1em;
    color: #666;
}
.accounts .account.disabled h3:after{ 
    content: ' (suspended)';
    font-size: .7em;
}

@media screen and (max-width: 800px) {
    .accounts .account .float{
        float: none;
        display: block;
        margin: .5em auto;
    }
    .accounts .account {
        padding-left: 1em;
    }
    .accounts .account h3 {
        position: static;
        text-align: left;
        padding: 0;
        margin: 1em 0;
        width: auto;
    }
}

/* pre */
.gray { color: #999; }
.major {color: #000; }

/* strip table */
table.strip {
    margin: 1em 0;
    border-collapse: collapse;
}
table.strip th {
    width: 5%;
    white-space: nowrap;
}
table.strip td, table.strip th {
    text-align: left;
    padding: .5em 1em;
}
table.strip tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

/* white-form */
.wrapper > .white-form {
    padding: .5em 2em;
    background-color: #fff;
}

.white-form .errorlist {
    background: #FEE;
    padding: 0.5em 1em;
    list-style-position: inside;
    font-size: 0.87em;
    border: 1px solid #ECC;
    position: relative;
}

.white-form .errorlist:after {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    content: ' ';
    border: 1em solid transparent;
    border-top-color: #ECC;
    pointer-events: none;
}

.white-form .helptext,
.white-form .minor,
.white-form p+ul {
    display: block;
    margin: 0em 0px;
    max-height: 0;
    
    transition: max-height .4s ease, margin .4s ease;
    transition-delay: 1s;

    font-size: .8em;
    color: #999;
    overflow: hidden;
}
.white-form input:focus + .helptext,
.white-form label:focus + .helptext,
.white-form select:focus + .helptext,
.white-form .minor,
.white-form p+ul {
    max-height: 3em;
    margin: .5em 0px;
    transition-delay: 0s;
}

/* alink_btns */
.alink_btns {
    display: flex;
    line-height: 2em;
    margin: .5em 0;
}

.alink_btns a,
.alink_btns a.button,
.alink_btns button {
    display: block;
    padding: 0 1em;
    border: 1px solid transparent;
}
.alink_btns a.disabled {
    color: #666;
    background: #f0f0f0;
}
.alink_btns a:not([href]) {
    color: #666;
}
.alink_btns a[href]:hover, .alink_btns a[href]:focus {
    border-color: currentColor;
    outline: none;
}

/*drawer*/
.drawer-hidden {
    display: flex;
    flex-direction: column;
    max-height: 0em;
    transition: max-height .4s ease;
    overflow: hidden;
    font-size: .7em;
}
.drawer:hover {
    box-shadow: 0 0 2px #3a4750;
    transform: translateZ(0);
}
.drawer:hover .drawer-hidden {
    max-height: 9em;
    border-top: 1px solid #CCC;
}
.drawer-hidden p {
    margin: 0.1em 1em;
}

.quotas-list {
    margin: 1em 0;
}
.quotas-item {
    padding: .5em 1em;
}
.quotas-item:nth-child(odd) {
    background-color: #f0f0f0;
}
.quotas-item h {
    float: left;
    line-height: 2.6em;
}
@media screen and (max-width: 800px) {
    .quotas-item h {
        float: none;
        line-height: 1.5;
    }
}
.quotas-item.disabled {
    opacity: .5;
}
.quotas-item.disabled h:after {
    content: ' (disabled)';
    font-size: .7em;
}
.quotas-actions {
    z-index: 10;
    font-size: 0;
    margin: 0;
}
.quotas-actions a
{
    font-size: 9pt;
    padding: .5em 1.5em;
    opacity: 0.4;
}
.quotas-actions a:hover,
.quotas-actions a:focus 
{
    outline: 1px solid currentColor;
    opacity: 1;
}
.quotas-item:hover .quotas-actions a {
    opacity: 1;
}

.full-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}
.full-cover:hover, .full-cover:focus {
    border: 1px solid currentColor;
    outline: none;
}
.quotas-descript-list {
    overflow: hidden;
    font-size: .8em;
    color: #666;
    position: relative;
}

/* yuck-absolute */
.yuck-absolute {
    position: absolute;
    z-index: 100;
    border: 1px solid #999;
    background: #fff;
    padding: .5em 1em;
    font-size: .7em;
    line-height: 1.5;
    max-width: 40vw;
}

.yuck-absolute ul {
    margin: .2em 0;
    padding-left: 1em;
}

.yuck-absolute p, .yuck-absolute li {
    margin: 0;
}

.yuck-absolute .use-this {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 1px 4px;
    border-radius: 2px;
    border: 1px solid currentColor;
    display: inline-block;
    margin: 2px;
}

.yuck-absolute.hidden {
    display: none;
    pointer-events: none;
}

/* article */
.article {
    padding: .5em 2em;
    background-color: #fff;
    line-height: 1.5;
}

.article .toc {
    float: right;
    border: 1px solid #666;
    margin: 1em;
    margin-right: 0;
    font-size: .8em;
}

.article .toc:before {
    content: 'Table of Content';
    display: block;
    color: #FFF;
    text-align: center;
    padding: .5em;
    background-color: #666;
}

.article .toc ul{
    list-style-position: inside;
    padding-left: 1em;
    margin-right: .5em;
}

.article pre {
    background: #eeeeee;
    padding: 1em;
    overflow: auto;
}

.article code {
    background: #eeeeee;
    padding: 2px 4px;
    font-size: .87em;
}

.article blockquote {
    border-left: 10px solid #eeeeee;
    margin-left: 0;
    padding: .2em 1em;
}

/* traffic-graph */
.traffic-graph {
    position: relative;
    background: #fff;
    overflow: visible;
    height: 20em;
    margin-bottom: 2em;
}

.traffic-graph > .item {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #26a;
    z-index: 2;
}

.traffic-graph > .item .desc {
    display: none;
    background: #37b;
    color: #FFF;
    font-size: .7em;
    padding: .5em 1em;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 5;
}

.traffic-graph > .item.right .desc {
    left: auto;
    right: 0;
}

.traffic-graph > .item:hover {
    background: #37b;
}

.traffic-graph > .item:hover:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    border: .4em solid #ee3;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.traffic-graph > .item:hover .desc {
    display: block;
}

.traffic-graph .empty {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -.5em;
}

.traffic-graph > .grid {
    color: #F99;
    font-size: .7em;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    border-left: 1px solid #F99;
    pointer-events: none;
}
.traffic-graph > .grid.right {
    border-right: 1px solid #F99;
    border-left: none;
    margin-left: -300px;
    text-align: right;
}
