<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}{% if title %} - {%endif%}{{ site_name }}</title>
  <link rel="stylesheet" href="/static/yuck.css">
</head>

<body>
<div class="wrapper">

<header>
  <div>
    <a href="/">Home</a> / 
    <a href="/article/index/" title="Knowledge Base">KB</a> /
    {% if user.is_authenticated %}  <a href="/account/">Accounts</a> /    {% endif %}
    {% if perms.auth.add_user %}    <a href="/admin/user/">Users</a> /    {% endif %}
  </div>
  <div class="right">
{% if user.is_authenticated %}
  {{ user.username }}
  / <a href="/passwd/">Passwd</a>
  / <a href="/logout/">Logout</a>
{% else %}
    <a href="/login/">Login</a>
{% endif %}
  </div>
</header>

<!-- content begin -->
{% block content %}

{% endblock %}
<!-- content end -->
</div>

  <script src="/static/yuck.js"></script>
</body>

</html>