{% extends "../base.html" %}
{% block content %}
<section class="accounts compact">
    <h2>{{ title }}</h2>

    <p><a class="button" href="./add">Add User</a></p>

    {% for m in mix %}
    {% with u=m.0 accounts=m.1 %}
    <div class="account {% if not u.is_active %} disabled{% endif %}">
        <h3 id="{{ u.username }}">{{ u.username }}</h3>
        
        <div class="alink_btns">
            <div class="drawer">
                <a>User</a>
                <div class="drawer-hidden">
                    <a href="/admin/user/toggle/{{ u.pk }}/" class="flick">{% if u.is_active %} Suspend {% else %} Unsuspend {% endif %}</a>
                    <a href="/admin/user/edit/{{ u.pk }}/" class="flick">Edit</a>
                </div>
            </div>
            {% for pnpa in accounts %}
            {% with pa=pnpa.1 %}
            {% if pa %}
            <div class="drawer">
                <a class="flick {% if not pa.enabled %} disabled {% endif %}" href="/admin/account/edit/{{ pa.pk }}/">
                    {{ pa.service }}
                </a>
                <div class="drawer-hidden">
                    <a href="/admin/account/quick/{{ pa.pk }}/renew/" class="flick" title="Reset all quotas and unsuspend account.">Renew</a>
                    <a href="/admin/account/toggle/{{ pa.pk }}/" class="flick">Toggle</a>
                    <a href="/admin/account/traffic/{{ pa.pk }}/" class="flick">Stat</a>
                </div>
            </div>
            {% else %}
            <div class="drawer">
                <a class="disabled">
                    {{ pnpa.0 }}
                </a>
                <div class="drawer-hidden">
                    <a href="/admin/account/add/{{ u.pk }}/{{ pnpa.0 }}/" class="flick">Create</a>
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% endwith %}
    {% endfor %}
    <div style="height:8em"></div>
</section>
{% endblock %}